My.Plygrnd/.vs/
My.Plygrnd/My-Plygrnd-Db/Import Schema Logs/
My.Plygrnd/My-Plygrnd-Db/obj/
My.Plygrnd/My-Plygrnd-Web/bin/
My.Plygrnd/My-Plygrnd-Web/obj/
My.Plygrnd/My.Plygrnd.Library/bin/
My.Plygrnd/My.Plygrnd.Library/obj/My.Plygrnd.Library.csproj.nuget.cache
My.Plygrnd/My.Plygrnd.Library/obj/
My.Plygrnd/packages/
