@model IEnumerable<My.Plygrnd.Library.Models.BusinessInfo>

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron"></div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4" align="center">
            <h2>@Html.DisplayFor(model => item.Name)</h2>
            <p>@Html.DisplayFor(model => item.Type)</p>
            <p>@Html.DisplayFor(model => item.Owner)</p>
            <p>@Html.ActionLink("Branch", "Outlet", new { businessId=item.Id })</p>
        </div>
    }
</div>